{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LevelUp - Learning Roadmap</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar">
    <div class="container">
      <div class="user-area">
        <div class="user-avatar">
          <span>TU</span>
        </div>
        <div class="xp-display">
          <div class="xp-points">850 امتیاز</div>
          <div class="rank-icon trophy">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"></path>
              <path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"></path>
              <path d="M4 22h16"></path>
              <path d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"></path>
              <path d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"></path>
              <path d="M9 2v7.5"></path>
              <path d="M15 2v7.5"></path>
              <path d="M12 2v10"></path>
              <path d="M12 12a5 5 0 0 0 5-5H7a5 5 0 0 0 5 5Z"></path>
            </svg>
          </div>
        </div>
        
      </div>
      <nav class="nav-links">
        <a href="/" class="nav-link active">نامه ها</a>
        <a href="/achievements.html" class="nav-link">یادداشت ها</a>
        <a href="/profile.html" class="nav-link">پروفایل</a>
      </nav>
      <a href="/" class="logo">
        <img src="{% static 'images/logo.png' %}" alt="zistkav-logo" width="90" height="57.7" style="margin-top:8px ;">
      </a>
      
    </div>
  </header>
  
  <main>
    <section class="hero-section">
      <h1 class="first-page-title">نامه  ها ی زیستیار</h1>
      <p class="subtitle">به جهان زیستکاوی خود خوش آمدید</p>
      
      <div class="progress-indicator">
        <div class="progress-header">
          <span>نامه های خوانده شده</span>
          <span class="progress-percent">شما {{letters_count}} نامه دارید</span>
        </div>
        <div class="progress-bar">
          <div class="progress-fill" style="width: 40%"></div>
        </div>
        <div class="progress-footer">
          <span>جهان ارباطات</span>
          <span>سرزمین  عاطفی</span>
        </div>
      </div>
      
      <div>
        {% for letter in letters %}
        <div class="level-card completed">
          <div class="level-number">{{ forloop.counter }}</div>
          <h3>{{ letter }}</h3>
          <p>خوانده شده</p>
          <a href="{% url 'game:file_single_letter' pk=forloop.counter %}"><button class="btn">بازبینی</button></a>
        </div>
        {% endfor %}
        
        
      </div>
    </section>
    
    <section class="rank-section">
      <h2 style="right: -863px; position: relative;padding-top: 10px;">توسعه ی شما در زیستجهان</h2>
      
      <div class="rank-progress">
        <div class="current-rank">
          <div class="rank-icon trophy">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"></path>
              <path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"></path>
              <path d="M4 22h16"></path>
              <path d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"></path>
              <path d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"></path>
              <path d="M9 2v7.5"></path>
              <path d="M15 2v7.5"></path>
              <path d="M12 2v10"></path>
              <path d="M12 12a5 5 0 0 0 5-5H7a5 5 0 0 0 5 5Z"></path>
            </svg>
          </div>
          
          <div>
            <h3>چالشگر</h3>
            <p class="xp-rank">850 امتیاز کلی</p>
          </div>
        </div>
        <div class="next-rank">
          <div class="progress-info">
            <span>توسعه تا همنشین</span>
            <span class="xp-rank">30%</span>
          </div>
          <div class="progress-bar">
            <div class="progress-fill" style="width: 30%"></div>
          </div>
          <p class="xp-info">850 / 2000 XP</p>
        </div>
      </div>
      
      <div class="all-ranks">
        <h4>تمام درجات</h4>
        <div class="ranks-list">
      
          <div class="rank-item locked">
            <div class="rank-icon diamond">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 2.999c2.143 0 4.286 1.714 6.429 5.143 2.142 3.428.571 9.714-.572 11.428C15.857 21.999 13.714 21.999 12 21.999c-1.714 0-3.857 0-5.857-2.428-1.143-1.714-2.714-8 .571-11.428C8.571 4.713 9.857 2.999 12 2.999Z"></path>
              </svg>
            </div>
            <span>ادغامیافته</span>
          </div>
          <div class="rank-item locked">
            <div class="rank-icon gem">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m6 3 6 7 6-7"></path>
                <path d="m6 21 6-7 6 7"></path>
              </svg>
            </div>
            <span>همنشین</span>
          </div>
          <div class="rank-item active">
            <div class="rank-icon trophy">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"></path>
                <path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"></path>
                <path d="M4 22h16"></path>
                <path d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"></path>
                <path d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"></path>
                <path d="M9 2v7.5"></path>
                <path d="M15 2v7.5"></path>
                <path d="M12 2v10"></path>
                <path d="M12 12a5 5 0 0 0 5-5H7a5 5 0 0 0 5 5Z"></path>
              </svg>
            </div>
            <span>چالشگر</span>
          </div>
          <div class="rank-item">
            <div class="rank-icon award">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="8" r="6"></circle>
                <path d="M15.477 12.89 17 22l-5-3-5 3 1.523-9.11"></path>
              </svg>
            </div>
            <span>ادراک</span>
          </div>
          <div class="rank-item">
            <div class="rank-icon medal">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 17a5 5 0 1 0 0-10 5 5 0 0 0 0 10Z"></path>
                <path d="M8.21 13.89 7 23l5-3 5 3-1.21-9.12"></path>
              </svg>
            </div>
            <span>خاموشی</span>
          </div>

        </div>
      </div>
    </section>
    
    <!-- <section class="achievements-section">
      <h2>Recent Achievements</h2>
      <div class="achievements-grid">
        <div class="achievement-card">
          <div class="achievement-icon">🏆</div>
          <div class="achievement-content">
            <h3>First Step</h3>
            <p>Complete the first level</p>
          </div>
        </div>
        
        <div class="achievement-card">
          <div class="achievement-icon">⚡</div>
          <div class="achievement-content">
            <h3>Quick Learner</h3>
            <p>Complete a level in under 2 hours</p>
          </div>
        </div>
        
        <div class="achievement-card locked">
          <div class="achievement-icon">✨</div>
          <div class="achievement-content">
            <h3>Perfectionist</h3>
            <p>Get a perfect score on any level</p>
          </div>
          <div class="locked-badge">Locked</div>
        </div>
      </div>
    </section> -->
    
    <!-- <div class="action-button">
      <button class="btn btn-large">فروشگاه زیستکاو</button>
    </div> -->
  </main>
  
  <footer>
    <p>طراحی شده توسط تیم زیستکاو</p>
  </footer>
</body>
</html>
